
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

 
  form {
    display: grid;
    grid-template-columns:10% 80% 10%;
    grid-template-rows: repeat(3, 60px);
    grid-template-areas:
      'destination destination'
      'start end'
      'button button';
    grid-gap: 1em;
    input {
      border: 1px #1e212d;
      border-radius: 88px;
    }
    #destination-from{
      grid-area: destination ;
    }
    #start-Date{
      grid-area:  start;
    }
    #end-Date{
      grid-area: end;
    }
    #submit-button{
      grid-area: button ;
    }
  }
