.card {
    background-color: #b68973;
    margin: 2em 1em;
    border-radius: 15px;
    padding: 0.5em 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, min-content);
    grid-template-areas:
      'city-country city-country'
      'date date'
      'images images'
      'current predicted'
      'planning planning';
    row-gap: 1.7em;
  }
  

#city-country {
  grid-area: city-country;
  text-align: center;
  font-size: 1.5em;
}
#dates {
  grid-area: date;
  text-align: center;
  line-height: 1.7em;
  border-bottom: dashed black 2px;
  padding-bottom: 1em;
}
#image {
  grid-area: images;
  img {
    width: 100%;
    border-radius: 16px;
  }
}
#todayForesee {
  grid-area: current;
}
#weatherIcons {
  width: 50%;
}
#foresee_weathe {
  grid-area: predicted;
}
#todayForesee,
#foresee_weathe {
  line-height: 1.5em;
  text-align: center;
  h4 {
    font-size: 1.2em;
    font-weight: bold;
  }
}
