
footer {
  color: blue;
  text-align: center;
}
#social {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  font-size: 2.8em;
  padding: 0.8em 0;
  width: 50%;
  margin: auto;
  a {
    text-decoration: none;
    color: inherit;
    &:visited {
      text-decoration: none;
    }
  }
  i {
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    &:hover {
      color: wheat;
      cursor: pointer;
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s;
    }
  }
}
