
  
  @media (min-width: 600px) {
    #first {
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: min-content;
      grid-template-areas: 'empty1 field empty2';
    }
    #first-info {
      grid-area: field;
      form {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, 60px);
        grid-template-areas:
          'dest text'
          'start text'
          'end button';
        grid-gap: 1em;
        input {
          border-radius: 2.5em;
        }
        #destination {
          grid-area: dest;
        }
        #start-Date {
          grid-area: start;
        }
        #end-Date {
          grid-area: end;
        }
        button {
          grid-area: button;
          margin: auto;
        }
      }
    }
  }
  @media (min-width: 1090px) {
    #first {
      grid-template-columns: 15% 70% 15%;
    }
  }